<launch>

<node pkg="x_soem" type="simple_test" name="motor" args= "0 0 0 0 1000 1000" output="screen" launch-prefix="sudo lxterminal -e taskset -c 1,2" respawn="true" respawn_delay="1"/> 
<node pkg="tada_ros" type="brain_node.py" name="brain" args= "" output="screen" launch-prefix="taskset -c 1,2"/> 

<node name="sensor_node" pkg="tada_ros" type="sensor_node.py" output="screen" launch-prefix="taskset -c 1"></node>
<node name="EuropaServer_node" pkg="tada_ros" type="ble_server.py" output="screen" launch-prefix="taskset -c 1"></node>

</launch>

